<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" mc:Ignorable="w14">
  <w:zoom w:percent="80"/>
  <w:bordersDoNotSurroundHeader w:val="1"/>
  <w:bordersDoNotSurroundFooter w:val="1"/>
  <w:documentProtection w:enforcement="0"/>
  <w:defaultTabStop w:val="420"/>
  <w:drawingGridVerticalSpacing w:val="156"/>
  <w:displayHorizontalDrawingGridEvery w:val="0"/>
  <w:displayVerticalDrawingGridEvery w:val="2"/>
  <w:characterSpacingControl w:val="compressPunctuation"/>
  <w:doNotValidateAgainstSchema/>
  <w:doNotDemarcateInvalidXml/>
  <w:compat>
    <w:spaceForUL/>
    <w:balanceSingleByteDoubleByteWidth/>
    <w:doNotLeaveBackslashAlone/>
    <w:ulTrailSpace/>
    <w:doNotExpandShiftReturn/>
    <w:adjustLineHeightInTable/>
    <w:useFELayout/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="12"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00172A27"/>
    <w:rsid w:val="000307B1"/>
    <w:rsid w:val="00103AFC"/>
    <w:rsid w:val="00116466"/>
    <w:rsid w:val="00127BCD"/>
    <w:rsid w:val="001428E8"/>
    <w:rsid w:val="00172A27"/>
    <w:rsid w:val="0017391D"/>
    <w:rsid w:val="00187BDE"/>
    <w:rsid w:val="002A6C8D"/>
    <w:rsid w:val="002B1900"/>
    <w:rsid w:val="00322D99"/>
    <w:rsid w:val="003556E7"/>
    <w:rsid w:val="003B7E2C"/>
    <w:rsid w:val="003C7040"/>
    <w:rsid w:val="003E4255"/>
    <w:rsid w:val="00420ECE"/>
    <w:rsid w:val="004668A1"/>
    <w:rsid w:val="004C3A9E"/>
    <w:rsid w:val="00581381"/>
    <w:rsid w:val="00617291"/>
    <w:rsid w:val="006A37DD"/>
    <w:rsid w:val="006F6DC9"/>
    <w:rsid w:val="007969D6"/>
    <w:rsid w:val="008F1FA3"/>
    <w:rsid w:val="009C7937"/>
    <w:rsid w:val="00A5742A"/>
    <w:rsid w:val="00A92A60"/>
    <w:rsid w:val="00B1104B"/>
    <w:rsid w:val="00BE4BAB"/>
    <w:rsid w:val="00DA0893"/>
    <w:rsid w:val="00E07EC3"/>
    <w:rsid w:val="00E35C60"/>
    <w:rsid w:val="00E62640"/>
    <w:rsid w:val="00EA5FD9"/>
    <w:rsid w:val="00EB05E2"/>
    <w:rsid w:val="00EE4A72"/>
    <w:rsid w:val="00F44EFD"/>
    <w:rsid w:val="2275275F"/>
    <w:rsid w:val="2EA51849"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:doNotIncludeSubdocsInStats/>
</w:settings>
